* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 3px solid #ccc;
    width: 40%;
    margin: 7rem auto;
}

.headerScreen {
    background-color: #ccc;
    height: 5rem;
    width: 100%;
    font-size: 3rem;
    text-align: right;
    padding: 1rem;
}

.clear {
    background: #90ee90;
    color: #fff;
}

.add, .subtract, .times, .divide {
   background-color: #393232;
   color: #fff;
}

button {
    font-size: 3rem;
    border-radius: 0;
}

.numberBtns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.equals {
    grid-column: 4 / 5;
    grid-row: 2 / 6;
    background-color: #ff4500;
}
